# Basic Operations and Operator
- ADD +
- SUB - 
- MUL *
- DIV / (real number)
- INTEGER DIV // (whole nmber)
- MODULUS % (reminder)
-EXPONENT ** (power)

In [1]:
2+2

4

In [2]:
3-10

-7

In [3]:
329*123

40467

In [4]:
123/12

10.25

In [5]:
123//12

10

In [7]:
10**5

100000

In [2]:
10%3

1

### Comparison Operators
<, >, <=, >=, ==, !=

In [3]:
8000>4567

True

In [4]:
8000<4567

False

In [5]:
100>=10

True

In [6]:
100<=10

False

In [7]:
100==10

False

In [8]:
100!=10

True

In [15]:
"this is a massage"

'this is a massage'

In [9]:
'''this is a 
multi lene
massage'''

'this is a \nmulti lene\nmassage'

In [17]:
name = 'Naushad Ahmad'

In [19]:
a=10
b=3

In [20]:
a+b

13

In [21]:
b**a

59049

In [22]:
a//11

0

In [23]:
college = 'Babu banarasi das Univercity'
dob = '3 jan'
mobile = '7570081493'

# Some Common Errors

In [10]:
# single quotes  error
location = 'Lucknow is my place

SyntaxError: EOL while scanning string literal (1630118658.py, line 2)

In [11]:
# Undifine Variable error name
place

NameError: name 'place' is not defined

#String Operators Examole

In [28]:
12+23 #add

35

In [29]:
'Hello' + 'world'

'Helloworld'

In [17]:
"Random" + name

'RandomNaushad ahmad'

In [18]:
# String and no can not add
a + name

NameError: name 'a' is not defined

In [19]:
# you can multiple a string with number
"ha" *10

'hahahahahahahahahaha'

In [20]:
name *10

'Naushad ahmadNaushad ahmadNaushad ahmadNaushad ahmadNaushad ahmadNaushad ahmadNaushad ahmadNaushad ahmadNaushad ahmadNaushad ahmad'

In [21]:
'-'*10

'----------'

In [22]:
emojis = "❤" # windows + .
emojis *100

'❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤'

# Variable

In [27]:
name = "Naushad ahmad"
hero_name = "Batman"
skills = ['Fighting','Super intelligent','etc']
creator = "Bob kane"
created_in = 1999

In [24]:
x =23

In [25]:
type(x)

int

In [28]:
type(creator)

str

In [29]:
kahani = '''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.'''

In [30]:
type(kahani)

str

# Integer

In [4]:
x = 1
y = 3443433243244
z = -213122

In [5]:
type(x)

int

# Float

In [6]:
x = 1.34
y = 1.0
z = -34.5
z = 10.5e100

# String

In [7]:
name = "naushad ahmad 01"
color = 'yellow'
Institute = 'digipodium'

# Booleans

In [10]:
is_coding = True
is_fun = True
are_u_bored = False

# Nonetype

In [ ]:
x = None

# List

In [ ]:
a = [5,10,15,20,25,30,35,40]
vals = [1, 2.2, 'python']
colors = ['red', 'green','yellow']

# Tuple

In [ ]:
a = (5,10,15,20,25,30,35,40)
vals = (1, 2.2, 'python')
colors = ('red', 'green','yellow')

# Sets

In [12]:
a = {5,10,15,20,25,30,35,40}
vals = {1, 2.2, 'python'}
colors = {'red', 'green','yellow'}

# Dictionaries

In [ ]:
car_info = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}