# List 
- List is mutable (item add, remove)
- list is heterogrnous (mixed data can be stored)
- list can be have duplicate values
- list is indexed (item have indexes and can be slice)
- list uses '[]' brackets with values inside it seperated with commas

## What to learn
- ### creating a list
- ### indexing n slicing
- ### traversal (looping)
- ### function (11)
- ### comprehension
- ### lambda, map and filter

- List Function
    - append()  ->	Adds an element at the end of the list
    - clear()   -> 	Removes all the elements from the list
    - copy()    -> 	Returns a copy of the list
    - count()   -> 	Returns the number of elements with the specified value
    - extend()  -> 	Add the elements of a list (or any iterable), to the end of the current list
    - index()   -> 	Returns the index of the first element with the specified value
    - insert()  -> 	Adds an element at the specified position
    - pop()     -> 	Removes the element at the specified position
    - remove()  -> 	Removes the item with the specified value
    - reverse() ->	Reverses the order of the list
    - sort()    -> 	Sorts the list

In [10]:
# List of strings
names = ["kaladin", "Adolin", 'Dalinar', 'Wit', 'Shallan', 'Navani']
# List of numbers
factors = [1, 2, 3, 5, 15, 25, 100]
# mixed data list
info = ['Ravi', 90,102,93,29,44,"B",False,5.786]
# nested List
c2d = [[1,2,3],[3,4,5,7],[2,1]]
# list from function
fact = "icecubes sits in its own blood"
words = fact.split()

In [11]:
# quick list hack with same values
x = [1] * 10
print(x)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [12]:
# List from variable
a = 10 
b = 'something'
c = 9
l = [a, b, c]
print(l)

[10, 'something', 9]

In [13]:
kharche = []  # empty list

In [14]:
kharche.append(100)
print(kharche)
kharche.append(200)
print(kharche)
kharche.append(300)
print(kharche)

[100]
[100, 200]
[100, 200, 300]

In [1]:
fav_foods = []
for i in range(3):
    food = input("enter name of your fav food =>")
    fav_foods.append(food)
print(fav_foods)

['fddf', 'df', '']

In [5]:
nums = []
for i in range(1,101):
    nums.append(i)
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [16]:
names[2]

'Dalinar'

In [17]:
names[-2]

'Shallan'

## Function
- adding items
    - append
    - insert
    - extend
- dalete items
    - remove
    - pop
    - clear
- utility func
    - reverse 
    - sort
    - count
    - index
    - copy

In [1]:
fruit = []
fruit.append("apple")
fruit.append("banana")
fruit.append("cherry")
fruit.append('guava')
fruit

['apple', 'banana', 'cherry', 'guava']

In [2]:
fruit.insert(-1, "fig")
fruit

['apple', 'banana', 'cherry', 'fig', 'guava']

In [3]:
fruit.insert(-2, 'dragenfruit')
fruit

['apple', 'banana', 'cherry', 'dragenfruit', 'fig', 'guava']

In [4]:
fruit.insert(1,'avocado')
fruit

['apple', 'avocado', 'banana', 'cherry', 'dragenfruit', 'fig', 'guava']

In [5]:
fruit.insert(100, 'rotten apple')
fruit

['apple',
 'avocado',
 'banana',
 'cherry',
 'dragenfruit',
 'fig',
 'guava',
 'rotten apple']

In [6]:
dry_fruit = ['Almonds', 'cashew', 'walnut']
dry_fruit

['Almonds', 'cashew', 'walnut']

In [7]:
fruit.extend(dry_fruit)
fruit

['apple',
 'avocado',
 'banana',
 'cherry',
 'dragenfruit',
 'fig',
 'guava',
 'rotten apple',
 'Almonds',
 'cashew',
 'walnut']

In [10]:
len(fruit)

11

In [14]:
if 'rotten apple' in fruit:
    fruit.remove('rotten apple')
    print(fruit)
else:
    print('no rotten apple found')

no rotten apple found

In [13]:
if 'papaya' in fruit:
    fruit.remove("papaya")

In [15]:
x = [1,2,3,[1,2,3,4]]
x

[1, 2, 3, [1, 2, 3, 4]]

In [17]:
if 2 in x[3]:
    x[3].remove(2)
x

[1, 2, 3, [1, 3, 4]]

In [18]:
fruit

['apple',
 'avocado',
 'banana',
 'cherry',
 'dragenfruit',
 'fig',
 'guava',
 'Almonds',
 'cashew',
 'walnut']

### pop can be used in 2 way
- list.pop()    => remove the last value in the list and given us that value
- list.pop(idx) => remove the value idx if idx is valid and gives the value

In [19]:
v = fruit.pop()
print('removed_value =>', v)
print('list =>', fruit)

removed_value => walnut
list => ['apple', 'avocado', 'banana', 'cherry', 'dragenfruit', 'fig', 'guava', 'Almonds', 'cashew']

In [24]:
v = fruit.pop(3)  # removing from index 3
print('remove_value=>', v)
print('list=>', fruit)

remove_value=> Almonds
list=> ['apple', 'avocado', 'banana', 'cashew']

In [25]:
v = fruit.clear()
fruit

[]

In [29]:
movies = [
    'Fhostbusters: Afterlife',
    'Spider-Man: NO way home',
    "Shang-chi",
    'Eternals',
    'The Last Duel',
    'Venom: Let There be Carnage',
    'puspa'
    
]

In [31]:
print("normal\n", movies)
movies.reverse()
print("reverse\n", movies)

normal
 ['Fhostbusters: Afterlife', 'Spider-Man: NO way home', 'Shang-chi', 'Eternals', 'The Last Duel', 'Venom: Let There be Carnage', 'puspa']
reverse
 ['puspa', 'Venom: Let There be Carnage', 'The Last Duel', 'Eternals', 'Shang-chi', 'Spider-Man: NO way home', 'Fhostbusters: Afterlife']

In [33]:
movies.sort()  # Alphabet order
print(movies)

['Eternals', 'Fhostbusters: Afterlife', 'Shang-chi', 'Spider-Man: NO way home', 'The Last Duel', 'Venom: Let There be Carnage', 'puspa']

In [35]:
movies.sort(reverse=True)  # Alphabet reverse order
print(movies)

['puspa', 'Venom: Let There be Carnage', 'The Last Duel', 'Spider-Man: NO way home', 'Shang-chi', 'Fhostbusters: Afterlife', 'Eternals']

### Copy function is used to copy

In [56]:
dup_mov = movies.copy()   
print(dup_mov)

['puspa', 'Venom: Let There be Carnage', 'The Last Duel', 'Spider-Man: NO way home', 'Shang-chi', 'Fhostbusters: Afterlife', 'Eternals']

In [57]:
dup_mov = movies.copy()
dup_mov

['puspa',
 'Venom: Let There be Carnage',
 'The Last Duel',
 'Spider-Man: NO way home',
 'Shang-chi',
 'Fhostbusters: Afterlife',
 'Eternals']

In [58]:
movies.index('Eternals')

6

In [59]:
movies.index('puspa')

0

In [60]:
if 'puspa' in movies:
    print(movies.index('Chang_chi'))

ValueError: 'Chang_chi' is not in list

In [ ]:
x = [1,2,3,4,1,3,4,5,5,6,4,2,4,5,6,7,8,9,0,0,9,9,8,4,3,2,2,3,]

In [ ]:
x.count(1)

2

In [ ]:
x.count(2)

4

In [ ]:
x.count(3)

4

## Ques => WAP to enter 15 number in list, the print the sum, min, max, mean of that list

In [69]:
y = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
a = 0
for i in range(15):
    a += i
print("Sum of the list is \n", a)

Sum of the list is
 105

In [74]:
nums = []
for i in range(15):
    val = int(input(f'Enter {i+1} number:'))
    nums.append(val)

print("Sum of nums = ", sum(nums))
print("min value = ", min(nums))
print("max valus = ", max(nums))
print("mean of values = ", sum(nums)/len(nums))

Sum of nums =  66
min value =  1
max valus =  7
mean of values =  4.4