# Loops

In [3]:
x = "PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [9]:
fruits = ["apple", "banana", "lemon"]
for item in fruits:
    print(f"i hava {item}")

i hava apple
i hava banana
i hava lemon

In [17]:
movies = ['The Holi Grail', 'The life of Brian','The Meaning of Life','Terminator','Pulp Fiction']

In [16]:
for movie in movies:
    print(movie, len(movie))

The Holi Grail 14
The life of Brian 17
The Meaning of Life 19
Terminator 10
Pulp Fiction 12

In [18]:
# For Loop with counter
for i, name in enumerate(movies):
    print(f"{i}-{name}")

0-The Holi Grail
1-The life of Brian
2-The Meaning of Life
3-Terminator
4-Pulp Fiction

In [21]:
for i in range (6):
    print('You got point', i)

You got point 0
You got point 1
You got point 2
You got point 3
You got point 4
You got point 5

In [42]:
for num in range(1,10,3):
    print('level', num)

level 1
level 4
level 7

In [43]:
for num in range(2,11):
    print('sheep', num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [45]:
for num in range(2,44):
    print("level",num)

level 2
level 3
level 4
level 5
level 6
level 7
level 8
level 9
level 10
level 11
level 12
level 13
level 14
level 15
level 16
level 17
level 18
level 19
level 20
level 21
level 22
level 23
level 24
level 25
level 26
level 27
level 28
level 29
level 30
level 31
level 32
level 33
level 34
level 35
level 36
level 37
level 38
level 39
level 40
level 41
level 42
level 43

In [55]:
# Reerse Loop
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [56]:
# Pattern loop
for i in range(10):
    print(i*'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

In [57]:
for i in range(5):
    print(i*'Subhadra')

Subhadra
SubhadraSubhadra
SubhadraSubhadraSubhadra
SubhadraSubhadraSubhadraSubhadra

## Ques 1 -> Write to print if number are even or odd 1, 100
## Ques 2 -> Write to print the sum of all even numbers from 2 to 101
## Ques 3 -> Write to print the average of all odd number from 1 to 100

In [60]:
# Ques 1 
num = int(input("Enter the Number"))
if (num%2==0):
    print("Number is even ")
else:
    print("Number is odd")

Number is odd

In [64]:
# Ques 1 (2-Types)
for i in range(1,100):
    if (i%2==0):
        print("even", i)
    else:
        print("odd", i)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10
odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19
even 20
odd 21
even 22
odd 23
even 24
odd 25
even 26
odd 27
even 28
odd 29
even 30
odd 31
even 32
odd 33
even 34
odd 35
even 36
odd 37
even 38
odd 39
even 40
odd 41
even 42
odd 43
even 44
odd 45
even 46
odd 47
even 48
odd 49
even 50
odd 51
even 52
odd 53
even 54
odd 55
even 56
odd 57
even 58
odd 59
even 60
odd 61
even 62
odd 63
even 64
odd 65
even 66
odd 67
even 68
odd 69
even 70
odd 71
even 72
odd 73
even 74
odd 75
even 76
odd 77
even 78
odd 79
even 80
odd 81
even 82
odd 83
even 84
odd 85
even 86
odd 87
even 88
odd 89
even 90
odd 91
even 92
odd 93
even 94
odd 95
even 96
odd 97
even 98
odd 99

In [75]:
# Ques 2 (Simple Version)
total = 0
for i in range (2,101):
    if i % 2 == 0:
        total += i
print("Total of all even no =>", total)

Total of all even no => 2550

In [99]:
# Ques 3 -> Write to print the average of all odd number from 1 to 100
a=0
b=0
for i in range(1,100):
    if i % 2 == 1:
        a += i
print("Average of all odd numbers =>", a/50)

Average of all odd numbers => 50.0

In [101]:
# Native implementation
print(1,2,3,4,5,sep=",")
print(2,4,6,8,10,sep=",")
print(3,6,9,12,15,sep=",")
print(4,8,12,16,20,sep=",")
print(5,10,15,20,25,sep=",")

1,2,3,4,5
2,4,6,8,10
3,6,9,12,15
4,8,12,16,20
5,10,15,20,25

In [31]:
# better inplement -> dynamic roe
for i in range(1,6):
    print(1*i, 2*i, 3*i, 4*i, 5*i, sep=',')

1,2,3,4,5
2,4,6,8,10
3,6,9,12,15
4,8,12,16,20
5,10,15,20,25

In [32]:
# best implement -> dynamic rows and cols
for row in range(1,6):
    for col in range(1,6):
        print(row * col, end=',')
    print()

1,2,3,4,5,
2,4,6,8,10,
3,6,9,12,15,
4,8,12,16,20,
5,10,15,20,25,

# While Loop

In [33]:
x = 1
while x < 5:
    print("run")
    x += 1
print("stop")

run
run
run
run
stop

In [34]:
# A complex program
n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1   #update counter

# Print the sum
print("The sum is", sum)

The sum is 55

In [3]:
poem =""
while input('Do you want to write another kine?') =='y':
    line = input('>>>')
    poem +=line
chars = len(poem)
print(f"total chars in poem is {chars}")

total chars in poem is 8

In [4]:
print(poem)

chjdjfhj

## Break and Countinue Keyword

In [13]:
# Continue
x = [1,2,'',3,4,5,'',6,7,'',8,9,10]
total = 0
for i in x:
    if isinstance(i,str):
        continue
    if i in[1,2,3,4]:
        continue
    total += i
print(total)

45

In [2]:
# Continue
x = [1,2,'',3,4,5,'',6,7,'',8,9,10]
total = 0
for i in x:
    if i in [1,2,3,4]:
        continue
    if isinstance(i,int):
        total +=i
print(total)

45

In [3]:
# Break
poem =''
while True: #infinite
    line = input("entr poem line>>")
    if line:
        poem += line +'\n'
    else:
        break

print("total chars", len(poem))
print(poem)

total chars 11
jvghh
hg
h