# String Function
- Formation
    - upper
    - lower
    - title 
    - capitalize
    - swapcase
    - casefold
    - format
    - ljust
    - rjust
    - center

- Validation
    - isalpha
    - isalnum
    - isdigit
    - isnummeric
    - isprintable
    - isupper 
    - islower
    - startwith
    - endswith
    - stc.,

- Utility
    - count
    - replace
    - strip
    - join
    - split

    - find & index
    - append

### upper() => Converts a string into upper case

In [43]:
txt = 'Hello my friend'
print(txt.upper())

HELLO MY FRIEND

### lower() => Converts a string into lower case

In [44]:
txt = 'HELLO MY FRIEND'
print(txt.lower())

hello my friend

### title() -> Converts the first character of each word to upper case

In [1]:
text = "Welcome to my world"
x = text.title()
print(x)

Welcome To My World

### capitalize() =>	Converts the first character to upper case

In [2]:
txt = "hello, and welcome to my world."

print(txt.capitalize())

Hello, and welcome to my world.

### swapcase() -> Swaps cases, lower case becomes upper case and vice versa

In [2]:
text = "Hello My Name Is Naushad"
x = text.swapcase()
print(x)

hELLO mY nAME iS nAUSHAD

### casefold() => Converts string into lower case

In [3]:
txt = "Hello, And Welcome To My World!"

print(txt.casefold())

hello, and welcome to my world!

### format() -> Formats specified values in a string

In [3]:
txt = "For only {price} dollars!"
print(txt.format(price = 49))

For only 49 dollars!

### ljust() -> Returns a left justified version of the string

In [9]:
text = 'banana'
x = text.ljust(20)
print(x, "is my favourite fruit")

banana               is my favourite fruit

### rjust() -> Return a right justified version of the string

In [11]:
text = 'banana'
x = text.rjust(20)
print(x, "is my favourite fruit")

              banana is my favourite fruit

### center() = Returns a centered string

In [4]:
txt = "banana"
print(txt.center(20))

       banana

### isalnum() => Returns True if all characters in the string are alphanumeric

In [19]:
txt = "Company12"
print(txt.isalnum())

True

### isalpha() => Returns True if all characters in the string are in the alphabet

In [20]:
txt = "CompanyX"
print(txt.isalpha())

True

### isdigit() => Returns True if all characters in the string are digits

In [27]:
txt = "50800"
x = txt.isdigit()
print(x)

True

### isnumeric() => Returns True if all characters in the string are numeric

In [30]:
txt = "565543"
x = txt.isnumeric()
print(x)

True

### isprintable() => Returns True if all characters in the string are printable

In [35]:
txt = "Hello! Are you #1?"
print(txt.isprintable())

True

### isupper() => Returns True if all characters in the string are upper case

In [36]:
txt = "THIS IS NOW!"
print(txt.isupper())

True

### islower() => Returns True if all characters in the string are lower case

In [37]:
txt = "hello world!"
x = txt.islower()
print(x)

True

### startwith() -> Return True if the string starts with the specified value

In [3]:
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

True

### endswith() => Returns true if the string ends with the specified value

In [7]:
txt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)

True

### count() => Returns the number of times a specified value occurs in a string

In [12]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

### replace() -> Returns a stirng where a specified value is replaced with a specified value

In [14]:
text = "I like fruit"
x = text.replace("fruit", "apple")
print(x)

I like apple

### strip() -> Returns a trimmed version of the string (remove both side spaces)

In [15]:
text = "        apple       "
x = text.strip()
print(x)

apple

### join() -> Convert the elements of an iterable into a string

In [16]:
myTuple = ("Naushad", "Komal", "Ravi")
x = "#".join(myTuple)
print(x)

Naushad#Komal#Ravi

In [12]:
a = ("naushda","komal")
x = "\n".join(a)
print(x)

naushda
komal

### split() -> Split the string at the specified separator, and returns a list

In [20]:
text = "Welcome to the python"
x = text.split()
print(x)

['Welcome', 'to', 'the', 'python']

### find() or index() => Searches the string for a specified value and returns the position of where it was found

In [22]:
txt = "Hello, welcome to my world."
print(txt.find("welcome"))
print(txt.index("welcome"))

7
7

### append()

In [24]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']